nav{
    border-top : 1px solid #eeeeee;
    border-bottom : 1px solid #eeeeee;
}

#navbar{

    margin :0;
    padding : 0;
    list-style : none;
    height : 100%;
    display : flex;
    justify-content: center;
    align-items : center;
}

#navber > li {
    padding : 0 32px;

}

#navber > li > a{
    font-size : 14px;
    font-weight : 600;
    color : #1a1a1a;
    text-decoration : none;
    letter-spacing : 1px;

    &:hover{
        color : #eeeeee;
    }
}
