#header_2{
            width : 650px;
            height : 160px;
        }
        
        #header_2{
            display : flex;
            align-items : center;
            justify-content : center;
        }

        /* form태그 */
        #search-form{
            width: 85%;
            height: 44px;
            display : flex;
            padding : 4px;
            background-color: #fafafa;
            border-radius: 17px;
        }

        #search-text{
            flex : 7.5;

        }
        #search-btn{
            flex : 1.5;
        }

        #seadch-text>input{
            width : 100%;
            height : 100%;
            box-sizing: border-box;
            border: none;
            padding : 0 15px;
            color: #1a1a1a;
            border-radius : 7px;

            &:focus{
                outline : #eeeeee;
            }
        }
        #search-btn>button{
            width : 100%;
            height : 100%;
            border-radius : 18px;
            background-color: #1a1a1a;
            color : #fafafa;
            font-weight : 600;

            &:hover{
                background-color :#fafafa;
                color : lalala;
            }
        }
