<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//maybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<environments default="deployment">

<environment id="deployment">


<transactionManager type="JDBC"/>



<dataSource type="POOLED">

<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE" />
<property name="username" value="C##HY" />
<property name="password" value="HY" />

</dataSource>


  </environment>
</environments>






</configuration>